body {
  background:linear-gradient(to right, #2c3e50, #fd746c);

}

nav{
  margin-top: 50px;
}

a{
  position: relative;
  display: inline-block;
  border: 3px solid lightgray;
  border-radius: 5px;
  font-size: 30px;
  color: lightgrey;
  text-transform: uppercase;
  font-family: tahoma;
  letter-spacing: 0.5px;
  margin:0 30px;
  padding: 30px;
  transition: 0.7s;
}

a:hover{
  font-size: 3rem;
  border: 3px solid #492F10;
  color: #492F10;
  font-weight: bold;
}
h1{
  height: 100px;
  font-family: tahoma;
  color: lightgrey;
  text-align: center;
  font-weight: normal;
  padding: 40px;
}

h1 span{
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .4s ease infinite alternate;
  font-family: Tahoma;
  font-size: 80px;
  color: lightgray;
  text-shadow: 0 1px 0 #492F10,
            0 2px 0 #492F10,
            0 3px 0 #492F10,
            0 4px 0 #492F10,
            0 5px 0 #492F10,
            0 6px 0 #492F10,
            0 7px 0 #492F10,
            0 8px 0 #492F10,
            0 9px 0 #492F10,
            0 10px 10px rgba(0, 0, 0, 0.4);
    }

    h1 span:nth-child(2) {
        animation-delay: .1s;
    }

    h1 span:nth-child(3) {
        animation-delay: .2s;
    }

    h1 span:nth-child(4) {
        animation-delay: .3s;
    }

    h1 span:nth-child(5) {
        animation-delay: .4s;
    }

    h1 span:nth-child(6) {
        animation-delay: .5s;
    }

    h1 span:nth-child(7) {
        animation-delay: .6s;
    }

    h1 span:nth-child(8) {
        animation-delay: .7s;
    }
    h1 span:nth-child(9) {
        animation-delay: .9s;
    }
    h1 span:nth-child(10) {
        animation-delay: 1s;
    }

    @keyframes bounce {
        100% {
            top: -20px;
            /* kiekvienas text shadow kaip sluoksniai gulasi vienas ant kito */
            text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 #CCC,
                0 7px 0 #CCC,
                0 8px 0 #CCC,
                0 9px 0 #CCC,
                0 50px 25px rgba(0, 0, 0, 0.2);
        }
    }
